body {
  margin: 0px;
  overflow: scroll;
}

rect {
  fill: steelblue;
  opacity: 0.5;
}

text {
  font-size: 1em;
  font-family: sans-serif;
}

.tick text {
  font-size: 1em;
  fill: #635F5D;
}

.tick line {
  stroke: #C0C0BB
}

.axis-label {
  font-size: 5em;
  fill: #8E8883;
}


.title {
  font-size: 3em;
  fill: #635F5D;
}