.master {
  border: solid black 1px;
}
#sznPg {
  border: solid black .5px;
  margin: 1px;
}

body {
  margin: 0px;
  overflow: scroll;
}

rect {
  fill: steelblue;
}

.barValues {
  font-size: 0.7em;
}

.tick text {
  fill: #635F5D;
}

.tick line {
  stroke: #C0C0BB;
}

.xLabel {
  font-size: 1.5em;
  fill: #8E8883;
}

.title {
  font-size: 1em;
  fill: #8E8883;
}