.master {
  border: solid black 1px;
  overflow: scroll;
}

.svgContainer {
  background-color: rgb(255, 255, 255);
  display: flex;
  /* width: 600px;
  height: 700px; */
}

.svg {
  margin: 0 auto;
  border: solid black 1px;
}

#svgPg {
  border: solid black 0.1px;
  /* width: 600px;
  height: 700px; */
}

body {
  margin: 0px;
  overflow: scroll;
}

rect {
  fill: rgb(255, 185, 34);
}

rect:hover {
  fill: rgb(143, 184, 201)
}

.barValues {
  font-size: 0.7em;
  fill: white;
}

.barValues:hover {
  fill: black;
}

.tick text {
  fill: #635F5D;
}

.tick line {
  stroke: #C0C0BB;
}

.xLabel {
  font-size: 1.5em;
  fill: #8E8883;
}

.title {
  font-size: 1em;
  fill: #8E8883;
}
